.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.bold
{
  font-weight: 800;
}

html
{
  background-color: #FAFBFC;
}

body
{
  margin: 0 !important;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

button
{
  border: none;
  background-color: #009ec1;
  /* padding: 8px; */
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  color: white;
  padding: 10px 30px;
  border-radius: 40px;
}

button:hover
{
  background-color: #5bb7cc !important;

}

input
{
  background-color: white;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  padding: left;
  padding-left: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.span_a
{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.span_a_static
{
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.span_a:hover
{
  color: #009ec1 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pointer
{
  cursor: pointer;
}

.toasted-alert
{
  border-radius: 2px !important;
  min-height: 38px !important;
  line-height: 1.1em !important;
  background-color: #009ec1 !important;
  padding: 6px 20px !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #FAFBFC !important;
  border-radius: 8px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24) !important;
  font-family: Lato, sans-serif !important;
}

.toasted-error
{
  border-radius: 2px !important;
  min-height: 38px !important;
  line-height: 1.1em !important;
  background-color: #cf5e13 !important;
  padding: 6px 20px !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  color: #FAFBFC !important;
  border-radius: 8px !important;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24) !important;
  font-family: Lato, sans-serif !important;
}

.color-blue
{
  color: #009ec1 !important;
}

.color-white
{
  color: white !important;
}