<template>
    <div id="Admin">
        <div id="header">
            <h1>{{ accountTitle }}</h1>
        </div>
        <div id="body">
            <div id="boxContainer">
                <div class='box box1'>
                    <h2>Mes informations</h2>
                    <h3>Mon adresse e-mail :</h3>
                    <span>{{ userInfos.email }}</span>
                    <h3>Mon établissement :</h3>
                    <span>{{ userInfos.building }}</span>
                    <h3>Mon rôle :</h3>
                    <span>{{ userInfos.role }}</span>
                </div>
                <div class='box box2'>
                    <h2>Changer de mot de passe</h2>
                    <regInputs/>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import regInputs from '@/components/regInputs.vue'
export default {
    name: 'account',
    data() {
        return {
            accountTitle: "Mon compte",
            userInfos : {
                email: 'user@email.com',
                building: 'Le boucher de l\'anjou',
                role: 'Gestionnaire',
            }
        }
    },
    components: {
        regInputs,
    },
    methods: {
        changePass() {

        }
    },
    computed: {
    },
    mounted() {
    },
    updated() {
    }
}
</script>

<style scoped>
#Admin
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#header
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 40px;
}

#body
{
    height: 100%;
    margin-top: 2vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#boxContainer
{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

h1
{
    font-weight: 400;
    font-size: 44px;
    margin-bottom: 15px;
    text-align: left;
    margin: 0;
    padding-top: 40px;
}

h2
{
    font-weight: 500;
    font-size: 28px;
    text-align: left;
}

h3
{
    font-weight: 300;
    font-size: 22px;
    text-align: left;
    margin: 0;
}

span
{
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 18px;
}

button
{
    font-size: 20px;
}

.box
{
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 500px;
}

input
{
    width: 90%;
    height: 50px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1241px){
    .box2
    {
        margin-top: 30px;
    }
}
</style>
