<template>
    <div class="modal" v-if="open">
        <div class="modal_overlay"></div>
        <div class="modal_container">
            <div class="modal_body">
                <slot name="title"></slot>
                <slot name="text"></slot>
                <slot class="modalInput" name="input_container"></slot>
            </div>
            <div class="modal_footer">
                <div class="buttons">
                    <slot name="button_valid"></slot>
                    <slot name="button_cancel"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src

export default {
    props: { name: '', open: false, index: null },
    name: 'modal',
    data() {
        return {
        }
    },
    computed: {
    },
    methods: {
    },
    mounted() {
    },
    updated() {
    }
}
</script>

<style scoped>
.modal{
    position: fixed;
    top: 0;
    left: 0vw;
    z-index: 20;
}

.modal_body{ padding-bottom: 3vh; }

.modal_overlay{
    background-color: #363636;
    width: 100vw;
    height: 100vh;
    opacity: .4;
}

.modal_container{
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    height: auto;
    top: 30vh;
    width: 70vw;
    max-width: 70vw;
    padding: 3vh 5vw;
    left: 10vw;
}

.modal_footer{ border-top: 1px solid #e0e0e0; }

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 10px 30px;
    margin: 3vh 20px 0px 20px;
    cursor: pointer;
    border-radius: 20px;
}
.button_valid{
    background-color: #46A3BF;
    color: #ffffff !important;
}
.button_valid:hover{
    background-color: #5bb7cc;
}
.button_cancel{
    box-shadow: inset 0px 0px 0px 2px #FC6C55;
    color: #FC6C55 !important;
}

.button_cancel:hover{
    box-shadow: inset 0px 0px 0px 2px #FC6C55;
    background-color: #FC6C55;
    color: #ffffff !important;
}
.modal_container h1{ margin: 2vh; }
.modal_container p{ color: #A3A3A3; margin-bottom: 2vh;}
.modal_container input{ margin: 10px; font-size: 18px; padding: 10px; width: 50%;}
</style>
