<template>
  <div id="connexion">
    <logInputs/>
  </div>
</template>

<script>
// @ is an alias to /src
import logInputs from '@/components/logInputs.vue'

export default {
  name: 'connexion',
  data() {
    return {
    }
  },
  components: {
    logInputs,
  },
  computed: {
  },
  mounted() {
  },
  updated() {
  }
}
</script>

<style scoped>
#connexion
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
</style>
