<template>
  <div id="home" v-bind:class="{ isNotFirstCo: !isFirstCo }">
    <fullscreen v-if="isFirstCo" :formLength="formLength"/>
    <div id='else' v-bind:class="{ notCoElse: isFirstCo }">
      <div id="left" v-if="!isFirstCo">
        <filters/>
        <Partners></Partners>
      </div>
      <div id="right" v-bind:class="{ isNotFirstCoRight: !isFirstCo }">
        <div id="bar-container" v-bind:class="{ isNotFirstCoBar: !isFirstCo }">

          <div v-if="isFirstCo" id="infos-container">
            <div id="circle">
              <img src="@/assets/logo.png"/>
            </div>
            <span class="legend legend-margin"><span class="bold" v-html="formLength"></span> formations disponibles</span>
            <span class="legend bold">Trouvez la votre</span>
          </div>

          <searchBar :isFirstCo="isFirstCo"/>
        </div>
        <div  v-if="!isFirstCo" id="box-container">
          <cards v-for="formation in formations" :key="formation.id" :id="formation.id" :formation="formation"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import fullscreen from '@/components/Home/fullscreen.vue'
import searchBar from '@/components/Home/searchBar.vue'
import Partners from '@/components/Home/partners.vue'
import cards from '@/components/cards.vue'
import filters from '@/components/filters.vue'

export default {
  name: 'home',
  data() {
    return {
      formLength: '2500',
      formations: [
        {
          id: 1,
          title : 'Formation de test',
          name : 'Etablissement de test',
          postcode: '49000',
          city: 'Angers',
          formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
          formDuration: '24',
          createdDate: '5',
          img: 'https://placebear.com/800/800',
          formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
          Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
          Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
          Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
          ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
          commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
          Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
          dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
          calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
        },
        {
          id: 2,
          title : 'Formation de test',
          name : 'Etablissement de test',
          postcode: '49000',
          city: 'Angers',
          formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
          formDuration: '24',
          createdDate: '5',
          img: 'https://placebear.com/800/800',
          formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
          Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
          Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
          Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
          ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
          commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
          Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
          dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
          calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
        },
        {
          id: 3,
          title : 'Formation de test',
          name : 'Etablissement de test',
          postcode: '49000',
          city: 'Angers',
          formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
          formDuration: '24',
          createdDate: '5',
          img: 'https://placebear.com/800/800',
          formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
          Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
          Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
          Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
          ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
          commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
          Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
          dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
          calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
        },
        {
          id: 4,
          title : 'Formation de test',
          name : 'Etablissement de test',
          postcode: '49000',
          city: 'Angers',
          formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
          formDuration: '24',
          createdDate: '5',
          img: 'https://placebear.com/800/800',
          formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
          Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
          Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
          Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
          ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
          commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
          Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
          dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
          calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
        },
        {
          id: 5,
          title : 'Formation de test',
          name : 'Etablissement de test',
          postcode: '49000',
          city: 'Angers',
          formDate: moment('2008-09-15T15:53:00+05:00').format('DD/MM/YYYY'),
          formDuration: '24',
          createdDate: '5',
          img: 'https://placebear.com/800/800',
          formDescription: `Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et orci non enim posuere fermentum.
          Proin ultricies nibh ut vestibulum sollicitudin. Fusce ultricies massa a purus pretium malesuada. Duis non risus arcu.
          Nam scelerisque maximus pharetra. Cras facilisis libero sed ornare ultrices. Donec porttitor tellus ut lobortis ornare.
          Sed ultrices dui sit amet tristique venenatis.<br><br><b>Sed fermentum</b> ipsum ac nisi dapibus, vitae dapibus sem tincidunt. Quisque
          ut dignissim massa, in ornare lacus. Etiam ac nisl tempor, tempor augue eget, varius libero. Nam scelerisque, sem a laoreet
          commodo, urna erat scelerisque magna, at gravida tellus justo in dolor. Mauris non sollicitudin neque, vel aliquam tellus.
          Sed tincidunt nisi neque, nec facilisis turpis commodo id. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus. Nulla venenatis aliquam <br>sapien ac gravida. Orci varius natoque penatibus et magnis dis parturient
          montes, nascetur ridiculus mus. Duis malesuada sed neque eu condimentum. <u>Pellentesque tempus laoreet nisl, sed lacinia libero
          dictum ac. Curabitur finibus egestas facilisis. Sed semper lectus vel dolor</u> dapibus volutpat. `,
          calculatedEndDate: moment('2012-09-25T15:53:00+05:00').format('DD/MM/YYYY'),
        },
      ]
    }
  },
  components: {
    fullscreen,
    searchBar,
    cards,
    filters,
    Partners
  },
  computed: {
    isFirstCo() {
      return this.$store.state.isFirstCo;
    },
  },
  mounted() {
    if (this.$session.get('isNotFirstCo')) this.$store.commit('isFirstCo', false);
  },
  updated() {
    if (this.$session.get('isNotFirstCo')) this.$store.commit('isFirstCo', false);
  }
}
</script>

<style scoped>
#home
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  left: 0;
}

#left
{
    width: 20%;
    height: 100vh;
    background-color: #ffffff;
}

#right
{
  width: 1050px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 4vh;
}

#box-container
{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0;
}

.isNotFirstCo
{
  justify-content: flex-start;
  height: 100px;
}

#bar-container
{
  height: 80%;
  width: 1033px;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 8px;
}

.isNotFirstCoBar
{
  height: 100px !important;
}

.legend
{
  z-index: 2;
  color: white;
  font-size: 2.5em;
}

.legend-margin
{
  margin: 1em 0.25em 0.25em 0.25em;
}

#infos-container
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 300px;
  margin-bottom: 25px;
}

#circle
{
  position: relative;
  border: 4px solid rgb(121, 121, 121);
  background-color: white;
  border-radius: 100%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  overflow: hidden
}

#circle img
{
  width: 70%;
  height: 70%;
}

#img
{
  z-index: 1;
  min-height: 100%;
  left: 0;
  top: 0;
}

#else
{
  display: flex;
  align-items: flex-start;
  /* justify-content: center; */
  width: 100%;
  background-color: #f7f7f7;
}

.notCoElse
{
  position: absolute;
  padding: 0px !important;
  margin-top: 0 !important;
  padding: 0px !important;
  margin-top: 0 !important;
  height: 92vh;
  flex-direction: column;
  align-items: center !important;
  background-color: transparent !important;
}
.notCoElse #right{
    padding-top: 22vh;
}

@media screen and (min-width: 1362px) {
  .isNotFirstCoRight
  {
    width: 100%;
    align-items: flex-start !important;
    padding-bottom: 200px;
    top: 0px;
    padding-left: 4vh;
    justify-content: flex-start !important;
  }
}

@media screen and (max-width: 1362px) {
    #partners{ display: none }
  #else
  {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }

  #left
  {
    width: 100%;
    height: 30vh;
    /* margin-top: 4vh; */
  }


  #right
  {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  #bar-container
  {
    position: relative;
    width: 100%;
  }

  #box-container
  {
    width: 100%;
    margin: 0;
    justify-content: center;
    padding-top: 5vh;
  }

  #infos-container
  {
    height: auto !important;
  }

  .notCoElse
  {
    position: absolute;
    padding: 0px !important;
    margin-top: 0 !important;
    padding: 0px !important;
    margin-top: 0 !important;
    height: 92vh !important;
    flex-direction: column;
    align-items: center !important;
  }
}
</style>
