<template>
    <div class="searchBar" v-bind:class="{isFirstCoBar: !isFirstCo}">
        <div class="searchBar_content">
            <input type="text" v-bind:class="{isFirstCo: !isFirstCo}" placeholder='Trouvez votre formation' v-model="search">
            <button v-bind:class="{isFirstCoButton: !isFirstCo}" @click="searchIt"><i class="material-icons">search</i>Rechercher</button>
        </div>
        <div class="results" v-if="search">Résultats de recherche pour « <span>{{ search }}</span> »</div>
    </div>
</template>

<script>
export default {
    name: 'headerBar',
    props: ['isFirstCo'],
    data() {
        return {
            search: ''
        }
    },
    watch: {
        search () {
            this.$store.commit('searchVal', this.search);
        }
    },
    methods: {
        searchIt () {
            this.$session.set('isNotFirstCo', true);
            this.$store.commit('isFirstCo', false);
        }
    }
}
</script>
<style scoped>
/* .searchBar_content{
    position: absolute;
    top: 40vh;
}

.isFirstCoBar .searchBar_content{
    position: absolute;
    top: 5vh;
} */

.searchBar_content
{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 2s cubic-bezier(.25,.8,.25,1);
}

input
{
    width: 475px;
    height: 50px;
}

button
{
    margin-left: 15px;
    height: 52px;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

i
{
    color: white;
    font-size: 36px !important;
}

.isFirstCo
{
    background-color: #EAEAEA !important;
    font-size: 34px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    margin-top: 0 !important;
}

.isFirstCoBar
{
    position: relative;
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
}

.isFirstCoButton
{
    display: none;
}

.results{ margin-top: 16px; }
.results span{ color: #5bb7cc; }

@media screen and (max-width: 1362px) {
    .searchBar
    {
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 0px;
        font-size: 24px;
    }

    .bar-container
    {
        width: 100%;
    }
    input
    {
        width: 90%;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 20px;
        border-radius: 0 !important;
    }

    button
    {
        font-size: 20px;
    }
}
</style>
