<template>
  <div id="app">

    <header-bar :connect="isConnected"/>
    <router-view class="contenter"/>
  </div>
</template>

<script>
import headerBar from '@/components/headerBar.vue'

export default {
  components: {
    headerBar,
  },
  updated () {
    if(this.$session.get('token')) this.$store.state.commit('isConnected', true);
  },
  computed: {
    isFirstCo() {
      return this.$store.state.isFirstCo;
    },
    isConnected() {
      return this.$store.state.isConnected;
    },
  }
}
</script>

<style>
.contenter
{
  padding-top: 40px;
  width: 100vw;
}

#app {
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
